@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
This is the comment.    
*@

@{ 
    var className = Model.Customers.Count > 1 ? "popular" : null;
}

<h2 class="@className">@Model.Movie.Name</h2>   <!--NOT model, Model is a dynamic property.-->
<ul>
    @foreach (var Customer in Model.Customers)
    {
        <li>@Customer.Name</li>
    }

</ul>
